*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
imganom/.bundle
imganom/vendor/bundle
imganom/log/*
imganom/tmp/*
imganom/db/*.sqlite3
imganom/public/system/*
imganom/coverage/
imganom/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
imganom/build/
._*
.DS_Store

